@page  "id:int"
@model Bodie.Promptlet.Web.Pages.AddComposedPromptletModel
@{
}

@using Bodie.Promptlet.Web.Pages

<link rel="stylesheet" href="../css/2-sort-list.css">
<script src="../js/3-sort-list.js"></script>
@section Scripts{
    <script>


        slist(document.getElementById("sortlist"));
   
        $('#sortlist').on(
    'drop',
    function(e){
        if(e.originalEvent.dataTransfer && e.originalEvent.dataTransfer.getData) {
            e.preventDefault();
            e.stopPropagation();
        }
    }
);
  
    </script>
}
<div>
    <header  
        style="color:cadetblue;" 
        class="h5 p-2 font-monospace text-capitalize">
        New Composed Promptlet for @Html.DisplayFor(x=>x.PromptCollection.PromptCollectionName) Collection
    </header>
    <form method="post">
        <input asp-for="PromptCollection.PromptCollectionId" type="hidden" />
        <input asp-for="ComposedPromptlet.ComposedPromptletId" type="hidden" />

        <div class="container text-left bg-light rounded shadow box-shadow p-3">
                    @*Row One*@
            <div class="row p-2">
                        @*Composed Promptlet Name*@
                        <div class="col-md-10"> 
                            <div class="form-floating mb-3" >
                                @Html.EditorFor(model => model.ComposedPromptlet.ComposedPromptletName
                                , new { htmlAttributes = new { 
                                    @class = "form-control", 
                                    @placeholder="ComposedPromptletName" } })
                                <label class="form-label" 
                                for="ComposedPromptlet_ComposedPromptletName">
                                Name</label>
                            </div>
                        </div>
                        @*Composed Promptlet Version*@
                        <div class="col-md-2"> 
                            <div class="form-floating mb-3" >
                                @Html.EditorFor(model => model.ComposedPromptlet.ComposedPromptletVersion
                                , new { htmlAttributes = new { 
                                    @class = "form-control", 
                                    @placeholder="ComposedPromptletVersion" } })
                                <label class="form-label" 
                                for="ComposedPromptlet_ComposedPromptletVersion">
                                Version</label>
                            </div>
                        </div>
                </div>
                       @*Row Two - Description*@
                    <div class="row p-2">
                        <div class="row-cols-md-12">
                            <div class="form-floating">
                                <textarea class="form-control" 
                                    placeholder="ComposedPromptletDescription" 
                                    id="ComposedPromptlet_ComposedPromptletDescription" 
                                    style="height: 100px">
                                    @Model.ComposedPromptlet.ComposedPromptletDescription
                                </textarea>
                                <label for="ComposedPromptlet_ComposedPromptletDescription">Description</label>
                            </div>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="row-cols-md-12">
                            <div class="form-floating">
                                <textarea class="form-control" 
                                    placeholder="ComposedPromptletHeader" 
                                    id="ComposedPromptlet_ComposedPromptletHeader" 
                                    style="height: 100px">
                                    @Model.ComposedPromptlet.ComposedPromptletHeader
                                </textarea>
                                <label for="ComposedPromptlet_ComposedPromptletHeader">Header</label>
                            </div>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="row-cols-md-12">
                            <div class="form-floating">
                                <textarea class="form-control" 
                                    placeholder="ComposedPromptletFooter" 
                                    id="ComposedPromptlet_ComposedPromptletFooter" 
                                    style="height: 100px">
                                    @Model.ComposedPromptlet.ComposedPromptletFooter
                                </textarea>
                                <label for="ComposedPromptlet_ComposedPromptletFooterr">Footer</label>
                            </div>
                        </div>
                    </div>   
  
            <div class="row p-2">
              <div class="btn-group btn-group-sm">
               <input type="submit" 
                   value="Save" 
                   class="btn btn-success" />
                <a asp-page="./GeneratePrompt" 
                asp-route-id="@Model.ComposedPromptlet.ComposedPromptletId"  class="btn btn-primary">Try it out</a> 

               <a class="btn btn-danger" href="/AllComposedPromptlet">Cancel</a>
               </div>
               </div>
        </div>
    </form>            
</div>
