@page
@model Bodie.Promptlet.Web.Pages.EditPromptletArtifactModel
@{
}

<div >
    <h2 style="color:#1ea696;">Edit Promptlet Artifact</h2>
        <h6 style="color:tomato;">
            Version
            @Html.DisplayFor(model => model.PromptletArtifact.PromptletArtifactVersion
            , new { htmlAttributes = new { @class = "form-control", 
                    @style="max-width:80px;;" } })
        </h6> 
    <form method="post">
        <input asp-for="PromptletArtifact.PromptletArtifactId" type="hidden" />
        <div class="container text-left">
             <div class="row bg-light rounded shadow box-shadow shadow-lg text-dark p-2">  
                @*Promptlet Artifact Name*@
                <div class="row">
                    <div class="col-md-12">
                            <div class="form-floating mb-3" >
                        @Html.EditorFor(model => model.PromptletArtifact.PromptletArtifactName
                        , new { htmlAttributes = 
                            new { 
                                @class = "form-control", 
                                @placeholder="PromptletName" } })
                        <label class="form-label" 
                            for="PromptletArtifact_PromptletArtifactName">
                            Name</label>
                        </div>
                    </div>
                </div>
                @*Promptlet Artifact Description*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-3" >
                        @Html.EditorFor(model => model.PromptletArtifact.PromptletArtifactDescription
                        , new { htmlAttributes = 
                            new { 
                                @class = "form-control", 
                                @placeholder="PromptletArtifactDescription" } })
                        <label class="form-label" 
                            for="PromptletArtifact_PromptletArtifactDescription">
                            Description</label>
                        </div>
                        </div>
                    </div>
                @*Variable Delimiters*@
                <div class="row">
                    <div class="col-3">
                        <h5 class="form-label">Variable Delimiters</h5> 
                    </div>
                    <div class="col-2">
                        <div class="form-floating mb-3" >
                        @Html.EditorFor(model => model.PromptletArtifact.VariableStartDeliminator
                        , new { htmlAttributes = 
                            new { 
                                @class = "form-control", 
                                @placeholder="VariableStartDeliminator",
                                @style="max-width:50px;"} })
                        <label class="form-label" 
                            for="PromptletArtifact_VariableStartDeliminator">
                            Start</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating mb-3" >
                            @Html.EditorFor(model => model.PromptletArtifact.VariableEndDeliminator
                            , new { htmlAttributes = 
                                new { 
                                    @class = "form-control", 
                                    @placeholder="VariableEndDeliminator",
                                    @style="max-width:50px;"} })
                            <label class="form-label" 
                                for="PromptletArtifact_VariableEndDeliminator">
                                End</label>
                        </div>
                    </div>
                    </div>  
                @*Promptlet Artifact Content*@
                <div class="row">
                    <div class="row-cols-1">
                        <h5 class="form-label" 
                            for="PromptletArtifact_PromptletArtifactContent">
                            Promptlet Content</h5>
                            @Html.TextAreaFor(model => model.PromptletArtifact.PromptletArtifactContent,
                            5,3,new { htmlAttributes = new {@class = "form-control"} })
                    </div>
                </div>    
             </div>
             @*Promptlet Artifact Content Variables Found*@
            <div class="container bg-gradient rounded">
                <div class="col-md-12 row-cols-2">
                  <h3 style="color:#1ea696;" class="m-3"> Variables found in Content</h3>
                    <div class="p-3">
                        <dl>  
                            @foreach (var item in Model.VariablesInContent)
                            {
                                <dd style="color:tomato;">
                                    @Html.DisplayFor(x=>item.Key)
                                </dd>
                            }
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        @*Submit button*@
        <div class="btn-group-sm p-3">
        <input type="submit" value="Save" class="btn btn-success" />
        <a class="btn btn-danger"  
            asp-page="./EditComposedPromptlet" 
            asp-route-id="@Model.PromptletArtifact.ComposedPromptlets.First()">
            Cancel</a>
        </div>
    </form>
</div>
